/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  overflow-x: hidden;
}

ol,
ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

h1 h2 h3 h4 h5 h6 p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

/* All Common Css End  */

/* Header Part Start  */
#headerPart {
  background: url(../images/Elements.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 220, 216, 0.705);
  z-index: 9;
  justify-content: space-around;
}
.nav-link {
  color: #29313d;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open+Sans";
  transition: 0.4s;
}
.nav-link:hover {
  color: #ff5538;
}
.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito";
  background: #ff5538;
  padding: 14px 28px;
  border-radius: 18px;
  transition: 0.4s;
}
.btn:hover {
  background: #ffffff;
  color: #ff5538;
  border: 1px solid #ff5538;
  transform: scale(1.05);
  transition: 0.4s;
}

.heading h1 {
  text-align: center;
  padding-top: 200px;
  font-weight: 700;
  font-size: 56px;
  font-family: "Poppins";
  color: #29313d;
}
.headingP p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: "Nunito";
  color: #29313d;
  padding-top: 24px;
  padding-bottom: 44px;
}
.buttonOne {
  margin-bottom: 300px;
}
/* Header Part End  */

/* .Cards Part Start  */
#cardsPart {
  color: #ffffff;
  height: 150px;
}
.goldImg {
  position: relative;
}
.gold img {
  position: absolute;
  top: -200px;
  left: 0px;
}
/* .Cards Part End  */
.card {
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 45px;
  width: 100%;
}
.card img {
  width: 80px;
  height: 80px;
}
.card h3 {
  color: #29313d;
  font-size: 19px;
  font-weight: 600;
  font-family: "Poppins";
  padding-top: 34px;
  padding-bottom: 16px;
}
.card p {
  color: #29313d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito";
}
.allCards {
  position: relative;
}

.card {
  position: absolute;
  bottom: -50px;
  left: 0px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.card:hover {
  box-shadow: 10px 10px 20px 0px rgba(255, 85, 56, 0.3);
  transform: scale(1.05);
}
/* .Connect People Part Start  */

.connectPartTextOne h3 {
  color: #ff5538;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
  padding-bottom: 10px;
}
.connectPartTextTwo h3 {
  color: #29313d;
  font-weight: 500;
  font-size: 38px;
  font-family: "Poppins";
  padding-bottom: 60px;
}
.connectonPeopleAll {
  position: relative;
}
.connectionPeople {
  position: absolute;
  background: #c4c4c4;
  width: 650px;
  height: 300px;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.connectionPeopleTwo {
  position: absolute;
  background: #fbf3f0;
  width: 810px;
  height: 400px;
  right: 0px;
  top: -60px;
}
.connectionPeopleTwo h3 {
  padding-top: 100px;
  padding-left: 185px;
  padding-right: 250px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Poppins";
  color: #29313d;
}
.connectionPeopleTwo p {
  padding-top: 10px;
  padding-left: 185px;
  padding-right: 218px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
  color: #29313d;
}
.connectPeopleBtn {
  padding-top: 10px;
  padding-left: 185px;
  padding-right: 218px;
}
/* .Connect People Part End  */

/* Works Part Start */
#worksPart {
  padding-bottom: 120px;
}
.worksPartImg {
  position: relative;
}
.workImg img {
  position: absolute;
  left: 0;
  top: 123px;
}
.workPartText h3 {
  color: #ff5538;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
  padding-top: 470px;
}
.workPartHeading h3 {
  color: #29313d;
  font-weight: 500;
  font-size: 38px;
  font-family: "Poppins";
  padding-bottom: 60px;
}

.emtyBox {
  background: #c4c4c4;
  height: 258px;
  width: 100%;
}

.emtyBoxText {
  background: #ffffff;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.emtyBoxText h3 {
  padding-top: 30px;
  padding-left: 30px;
  color: #29313d;
  font-weight: 600;
  font-size: 28px;
  font-family: "Poppins";
}
.emtyBoxText h4 {
  padding-top: 5px;
  padding-left: 30px;
  color: #ff5538;
  font-weight: 600;
  font-size: 18px;
  font-family: "Nunito";
  padding-bottom: 50px;
}
.box {
  margin-top: 20px;
}

/* Works Part End */
/* Achievement Part Start  */
#achievementPart {
  background: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.labelFlex {
  display: flex;
}
.achievementcard {
  background: #ffffff;
  padding: 40px 30px;
  margin-top: 120px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px 0px rgba(255, 85, 56, 0.94);
  transition: 0.4s;
}
.achievementcard:hover {
  transform: scale(1.05);
}
.achievementcard p {
  font-size: 13px;
  font-weight: 400;
  color: #29313d;
  font-family: "Nunito";
  text-align: center;
}
.labelOne h3 {
  font-size: 40px;
  font-weight: 600;
  color: #29313d;
  font-family: "Poppins";
  text-align: center;
  margin-left: 20px;
}
.labelTwo h3 {
  font-size: 40px;
  font-weight: 600;
  color: #29313d;
  font-family: "Poppins";
  text-align: center;
}
.achievementtext h3 {
  color: #29313d;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins";
  margin-top: 120px;
  margin-bottom: 30px;
}
.achievementcardTwo {
  background: #ffffff;
  padding: 40px 30px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px 0px rgba(255, 85, 56, 0.94);
  transition: 0.4s;
  margin-bottom: 120px;
}
.achievementcardTwo:hover {
  transform: scale(1.05);
}
.achievementcardTwo p {
  font-size: 13px;
  font-weight: 400;
  color: #29313d;
  font-family: "Nunito";
  text-align: center;
}
.achievementtextTwo h3 {
  color: #29313d;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins";
  margin-top: 120px;
  margin-bottom: 30px;
}
.achievementtext p {
  color: #29313d;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito";
  padding-right: 5px;
}
/* Achievement Part End  */

/* Partners Part Start  */
#partnersPart {
  background: #ffffff;
}
.partnersText h2 {
  color: #29313d;
  font-size: 39px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
}
.partnersImg {
  background: #fdf9f8;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  margin-bottom: 120px;
}
.partnersImg:hover {
  box-shadow: 10px 10px 20px 0px rgba(255, 85, 56, 0.94);
  transform: scale(1.05);
}
.partnersImg img {
  width: 100%;
}
/* Partners Part End  */
/* Review Part CSS Start */
#reviewPart {
    padding: 120px 0;
    background: #FDF9F8;
}

.reviewLeft h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.reviewLeft p {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
}

.reviewLeft h4 {
    font-size: 36px;
    font-weight: 600;
    color: #29313D;
    line-height: 180%;
    font-family: "Open Sans", sans-serif;
}

.reviewLeft i {
    font-size: 24px;
    color: #fff;
    background: #FF5538;
    padding: 10px 28px 10px 15px;
    border-radius: 10px;
    margin-left: 15px;
    transition: .5s;
}
.reviewLeft i:hover {
    color: #130F26;
    background: #FFDDD7;
}

.reviewBox {
    padding: 60px 0;
}

.reviewCard {
    height: 100px;
    width: 100px;
    background: #C4C4C4;
    border-radius: 20px;
    display: inline-block;
    margin-right: 28px;
}

.reviewRight {
    height: 460px;
    width: 440px;
    background: #C4C4C4;
    border-radius: 30px;
    margin: 0 0 0 100px;
}

/* Review Part CSS End */

/* Project Part CSS End */
#projectPart {
    padding: 100px 0;
    background: url(../images/Project.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projectTop {
    display: flex;
    justify-content: space-between;
}

.projectTop h4 {
    font-size: 20px;
    font-weight: 400;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.projectTop h3 {
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.projectTop a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    padding: 15px 30px;
    background: #FF5538;
    border-radius: 18px;
    border: 1px solid #FF5538;
    transition: .5s;
}

.projectTop a:hover {
    color: #FF5538;
    background: transparent;
}

.pTBtn {
    padding-top: 10px;
}

.ProjectBottom {
    padding: 1px 0;
    background: #29313D;
    margin: 50px 0 25px 0;
    filter: opacity(20%);
}

.pBTxt p {
    font-size: 20px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    padding-right: 62px;
}

/* Project Part CSS End */

/* Footer Part CSS Start */

#footerPart {
    padding: 140px 0 60px 0;
    background: #fff;
}

.footerRight img {
    transition: .5s;
}

.footerRight img:hover {
    transform: scale(1.1);
}

.footerRight p {
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    padding-top: 44px;
}

.footerLinksPart {
    display: flex;
    justify-content: space-between;
}

.footerLinksOne {
    padding-left: 125px;
}

.footerLinksOne h3 {
    font-size: 24px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 30px 30px;
}

.footerLinks h3 {
    font-size: 24px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 30px 30px;
}

.footerLinksPart ul li {
    margin-top: 30px;
}

.footerLinksPart ul li a {
    font-size: 20px;
    font-weight: 600;
    color: #29313D;
    line-height: 120%;
    font-family: "Nunito", sans-serif;
    transition: .5s;
    position: relative;
}

.footerLinksPart ul li a:hover {
    color: #FF5538;
}



.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.crRight {
    display: flex;
}

.crRight a {
    padding-right: 60px;
}

.copyright a {
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    line-height: 180%;
    filter: opacity(90%);
    font-family: "Nunito", sans-serif;
    transition: .5s;
}
.copyright a:hover {
    color: #FF5538;
    font-weight: 700;
    filter: opacity(100%);
}

/* Footer Part CSS End */
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.back-to-top a i {
  font-size: 30px;
  color: #ff5538;
}
